body {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 0;

  label {
    width: 100%;
    padding: 10px;
    display: block;
    cursor: pointer;
  }

  &:hover {
    .todo-remove,
    .todo-edit {
      opacity: 1;
    }
  }
}

.todo-remove,
.todo-edit {
  color: #666;
  opacity: 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin-left: 0.5em;
  z-index: 1;

  &:hover {
    opacity: 1;
  }
}

.todo-remove:hover {
  color: rgb(231, 63, 63);
}

.todo-edit:hover {
  color: rgb(0, 122, 255);
}

.todo-item .todo-text {
  font-size: 1.1rem;
  font-weight: bold;

  &.done {
    text-decoration: line-through;
    color: #999;
  }
}

#app {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
